In [4]:
!pip install nltk
!pip install emoji

Requirement already satisfied: nltk in c:\users\pc\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\pc\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\pc\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pc\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\pc\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Requirement already satisfied: emoji in c:\users\pc\anaconda3\lib\site-packages (2.14.1)

In [1]:
import nltk
import pandas as pd 
nltk.download('stopwords')
nltk.download('punkt')
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\PC\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\PC\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
df = pd.read_excel(r"C:\Users\PC\Desktop\restaurant_analysis_project_1\notebooks\marrakech_V.xlsx")

In [3]:
df

,Nom du Restaurant,Adresse,Latitude,Longitude,Prix,Note,Date,Commentaire
0,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5 étoiles,il y a 3 mois,Il y a des endroits où vous ne venez pas par h...
1,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5 étoiles,il y a une semaine,Un vrai coup de cœur à Marrakech !\nSans doute...
2,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5 étoiles,il y a une semaine,"Endroit calme, propre et familiale.\n\nCuisine..."
3,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5 étoiles,il y a un mois,Un restaurant sans prétention mais avec une vr...
4,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5 étoiles,il y a une semaine,"Chez Mmima, j’ai fait une très belle découvert..."
...,...,...,...,...,...,...,...,...
35516,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5 étoiles,il y a un an,Le cadre est très sympa. Le repas était excell...
35517,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5 étoiles,il y a 4 mois,Merci pour l accueil et nous avoir permis de p...
35518,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5 étoiles,il y a un an,Très belle expérience au Slimana.\nPlats reche...
35519,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5 étoiles,il y a un mois,La nourriture est vraiment excellente. Le serv...
35520,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5 étoiles,il y a 8 mois,Restaurant haut de gamme pour Marrakech. Mais ...

In [4]:
df = df.rename(columns={'Note': 'nbr_étoile'})

In [5]:
df['nbr_étoile'] = df['nbr_étoile'].astype(str).str.extract(r'(\d+)')
df['nbr_étoile'] = df['nbr_étoile'].fillna(0).astype(int)
df

,Nom du Restaurant,Adresse,Latitude,Longitude,Prix,nbr_étoile,Date,Commentaire
0,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a 3 mois,Il y a des endroits où vous ne venez pas par h...
1,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,Un vrai coup de cœur à Marrakech !\nSans doute...
2,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,"Endroit calme, propre et familiale.\n\nCuisine..."
3,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a un mois,Un restaurant sans prétention mais avec une vr...
4,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,"Chez Mmima, j’ai fait une très belle découvert..."
...,...,...,...,...,...,...,...,...
35516,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un an,Le cadre est très sympa. Le repas était excell...
35517,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a 4 mois,Merci pour l accueil et nous avoir permis de p...
35518,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un an,Très belle expérience au Slimana.\nPlats reche...
35519,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un mois,La nourriture est vraiment excellente. Le serv...
35520,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a 8 mois,Restaurant haut de gamme pour Marrakech. Mais ...

In [6]:
df = df.drop_duplicates()
df

,Nom du Restaurant,Adresse,Latitude,Longitude,Prix,nbr_étoile,Date,Commentaire
0,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a 3 mois,Il y a des endroits où vous ne venez pas par h...
1,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,Un vrai coup de cœur à Marrakech !\nSans doute...
2,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,"Endroit calme, propre et familiale.\n\nCuisine..."
3,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a un mois,Un restaurant sans prétention mais avec une vr...
4,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,il y a une semaine,"Chez Mmima, j’ai fait une très belle découvert..."
...,...,...,...,...,...,...,...,...
35516,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un an,Le cadre est très sympa. Le repas était excell...
35517,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a 4 mois,Merci pour l accueil et nous avoir permis de p...
35518,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un an,Très belle expérience au Slimana.\nPlats reche...
35519,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a un mois,La nourriture est vraiment excellente. Le serv...
35520,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,il y a 8 mois,Restaurant haut de gamme pour Marrakech. Mais ...

In [7]:
from datetime import datetime, timedelta
import re

def convertir_en_date(valeur):
    if pd.isna(valeur):
        return None
    
    valeur = valeur.lower().replace("modifié ", "")  # enlever "Modifié "
    maintenant = datetime.today()
    
    nombre = 1  # Par défaut "un" ou "une"
    unite = "jour"
    
    # Extraire nombre et unité
    match = re.search(r"il y a (\d+|un|une) (\w+)", valeur)
    if not match:
        return None
    
    nombre_str, unite = match.groups()
    
    # Convertir "un"/"une" en 1
    if nombre_str in ["un", "une"]:
        nombre = 1
    else:
        nombre = int(nombre_str)
    
    # Traduction en timedelta
    if "minute" in unite:
        date_finale = maintenant - timedelta(minutes=nombre)
    elif "heure" in unite:
        date_finale = maintenant - timedelta(hours=nombre)
    elif "jour" in unite:
        date_finale = maintenant - timedelta(days=nombre)
    elif "semaine" in unite:
        date_finale = maintenant - timedelta(weeks=nombre)
    elif "mois" in unite:
        date_finale = maintenant - pd.DateOffset(months=nombre)
    elif "an" in unite or "ans" in unite:
        date_finale = maintenant - pd.DateOffset(years=nombre)
    else:
        return None

    return date_finale.strftime("%d/%m/%Y")

In [8]:
df = df.copy()
df['Date'] = df['Date'].apply(convertir_en_date)

In [9]:
df

,Nom du Restaurant,Adresse,Latitude,Longitude,Prix,nbr_étoile,Date,Commentaire
0,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,28/05/2025,Il y a des endroits où vous ne venez pas par h...
1,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,Un vrai coup de cœur à Marrakech !\nSans doute...
2,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,"Endroit calme, propre et familiale.\n\nCuisine..."
3,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,28/07/2025,Un restaurant sans prétention mais avec une vr...
4,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,"Chez Mmima, j’ai fait une très belle découvert..."
...,...,...,...,...,...,...,...,...
35516,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/08/2024,Le cadre est très sympa. Le repas était excell...
35517,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/04/2025,Merci pour l accueil et nous avoir permis de p...
35518,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/08/2024,Très belle expérience au Slimana.\nPlats reche...
35519,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/07/2025,La nourriture est vraiment excellente. Le serv...
35520,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/12/2024,Restaurant haut de gamme pour Marrakech. Mais ...

In [11]:

df['Commentaire'] = df['Commentaire'].str.strip()

In [12]:

def extraire_intervalle(prix):
    if pd.isna(prix) or prix.strip() == "":
        return "0"

    prix = prix.strip()

    # Mapping pour les $
    dollar_intervalles = {
        "$": "50–70 MAD",
        "$$": "70–150 MAD",
        "$$$": "150–300 MAD",
        "$$$$": "300–500 MAD"
    }
    if prix in dollar_intervalles:
        return dollar_intervalles[prix]

    # Cas + de 500 MAD (ou variations)
    match_plus = re.search(r"\+\s*(de)?\s*(\d+)\s*MAD", prix, re.IGNORECASE)
    if match_plus:
        return f"+{match_plus.group(2)} MAD"

    # Cas 500 MAD
    match_unique = re.match(r"^(\d+)\s*MAD$", prix)
    if match_unique:
        return f"{match_unique.group(1)} MAD"

    # Cas intervalle : 100–500 MAD ou 100-500 MAD
    match_range = re.search(r"(\d+)[–\-](\d+)\s*MAD", prix)
    if match_range:
        return f"{match_range.group(1)}–{match_range.group(2)} MAD"

    return "0"

# Fonction pour calculer la moyenne de l’intervalle
def calculer_moyenne(intervalle):
    # +500 MAD → 500
    match_plus = re.match(r"\+(\d+)\s*MAD", intervalle)
    if match_plus:
        return int(match_plus.group(1))

    # 500 MAD → 500
    match_unique = re.match(r"^(\d+)\s*MAD$", intervalle)
    if match_unique:
        return int(match_unique.group(1))

    # 100–400 MAD
    match_range = re.match(r"(\d+)[–\-](\d+)\s*MAD", intervalle)
    if match_range:
        min_val = int(match_range.group(1))
        max_val = int(match_range.group(2))
        return (min_val + max_val) // 2

    return 0
# Appliquer les fonctions
df["Intervalle (MAD)"] = df["Prix"].apply(extraire_intervalle)
df["Prix moyen (MAD)"] = df["Intervalle (MAD)"].apply(calculer_moyenne)

In [13]:
df

,Nom du Restaurant,Adresse,Latitude,Longitude,Prix,nbr_étoile,Date,Commentaire,Intervalle (MAD),Prix moyen (MAD)
0,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,28/05/2025,Il y a des endroits où vous ne venez pas par h...,50–100 MAD,75
1,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,Un vrai coup de cœur à Marrakech !\nSans doute...,50–100 MAD,75
2,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,"Endroit calme, propre et familiale.\n\nCuisine...",50–100 MAD,75
3,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,28/07/2025,Un restaurant sans prétention mais avec une vr...,50–100 MAD,75
4,Chez Mmima,"Magazin 1, Rue Ibn Habous, résidence Les Trois...",31.629722,-8.005010,50–100 MAD,5,21/08/2025,"Chez Mmima, j’ai fait une très belle découvert...",50–100 MAD,75
...,...,...,...,...,...,...,...,...,...,...
35516,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/08/2024,Le cadre est très sympa. Le repas était excell...,70–150 MAD,110
35517,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/04/2025,Merci pour l accueil et nous avoir permis de p...,70–150 MAD,110
35518,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/08/2024,Très belle expérience au Slimana.\nPlats reche...,70–150 MAD,110
35519,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/07/2025,La nourriture est vraiment excellente. Le serv...,70–150 MAD,110
35520,Le Slimana Restaurant & Rooftop,"53 Kaat Benahid, Marrakesh 40000",31.631025,-7.985442,$$,5,28/12/2024,Restaurant haut de gamme pour Marrakech. Mais ...,70–150 MAD,110

In [14]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from unidecode import unidecode

import string
import re
import pandas as pd
import emoji

# Liste des stop words français étendue
stop_words = set(stopwords.words('french'))
# Ajout de mots spécifiques à supprimer
stop_words.update(['kfc', 'casa', 'restaurant', '...', 'alors', 'etc', 'plus', 'tres','dhs'])

def enlever_emojis(texte):
    return emoji.replace_emoji(texte, replace='')  # supprime tous les emojis

def nettoyer_avis(texte):
    if pd.isnull(texte):
        return ""

    texte = enlever_emojis(texte)                  # Supprimer les emojis
    texte = texte.lower()                          # minuscules
    #texte = unidecode(texte)                       # accents
    texte = re.sub(r'[^\w\s]', ' ', texte)         # ponctuation
    texte = re.sub(r'\d+', ' ', texte)             # chiffres
    texte = re.sub(r'\s+', ' ', texte).strip()     # espaces multiples

    mots = texte.split()
    mots_utiles = [mot for mot in mots if mot not in stop_words]

    return ' '.join(mots_utiles)

In [15]:
df['Commentaire_nettoye'] = df['Commentaire'].apply(nettoyer_avis)

In [16]:
df.to_excel("marakech_clean.xlsx", index=False)

In [ ]:
df